<% provide(:title, @user.name) %>
<div class="row">
	 <aside class="col-md-4">
		  <section class="user_info">
			  <h1>
           		<%= gravatar_for @user %>
           		<%= @user.name %>
         	</h1>
			</section>
			<section class="stats">
 				<%= render 'shared/stats' %>
 			</section>
      	</aside>
	  <% if logged_in? %>
	  	<div class="row">
	  		<aside class="col-md-4">
	  			<section class="micropost_form">
	  				<%= render 'shared/micropost_form' %>
	  			</section>
			</aside>
	  	</div>
		<% end %>

		<%= form_for :term, url: search_path, method: :get do |form| %>
  		<p>
    		<%= text_field_tag :term, params[:term] %>
    		<%= submit_tag "Search", name: nil %>
  		</p>
		<% end %>

	   <div class="col-md-8">
		  <%= render 'follow_form' if logged_in? %>
		  <% if @feed_items.any? %>
		       <ol class="microposts">
		         <%= render @feed_items %>
		       </ol>
		       <%= will_paginate @feed_items %>
		  <% end %>
	  </div>
</div>
<script src="https://js.pusher.com/4.0/pusher.min.js"></script>
  <script>
	var pusher = new Pusher('ce88be7709ffe9b382ea', {
  		authEndpoint: '/pusher/auth',
		authTransport: 'jsonp',
  		auth: {
			headers: {
	  		'X-CSRF-Token': "<%= form_authenticity_token %>"
		}
  	}
	});

    // Enable pusher logging - don't include this in production
    Pusher.logToConsole = true;

	var channel = pusher.subscribe("miniTwitter-" + "<%= @current_user.name %>" + "-channel");
    channel.bind("miniTwitter-event", function(data) {
			alert(data.message);
    });

	var presence = pusher.subscribe("presence-miniTwitter");
	presence.bind('pusher:subscription_succeeded', function(data) {
		presence.bind("user_logged_in", function(data) {
				alert(data.message + " logged in!");
			});
		presence.bind("user_logged_out", function(data) {
					alert(data.message + " logged out!");
		});
	});

	presence.bind('pusher:subscription_error', function(status) {
		console.log('subscription_error - ' + status)
	});

  </script>
